In [2]:
import re
import os
import pandas as pd

In [4]:
df = pd.read_csv('df.txt')
df

    first   last                     email
0  Yinong  Jiang  yinong.jiang@hotmail.com
1    John    Doe      john.doe@hotmail.com
2    Jane    Doe      jane.doe@hotmail.com

In [5]:
df['email'].str.upper()

0    YINONG.JIANG@HOTMAIL.COM
1        JOHN.DOE@HOTMAIL.COM
2        JANE.DOE@HOTMAIL.COM
Name: email, dtype: object